
.sec1{
    position: relative;
    overflow: hidden;
}
.sec1 p{
   
    line-height: 25px;
}
.index_1 {
    width: 100%;
    min-height: 80vh;
    background-image: url('../images/index/first_Secbg.jpg'); 
    background-size: cover;
    background-position:left;
    transition: background-size 2.4s ease; 
}
.index_2{
    width: 100%;
    min-height: 80vh;
    background-image: url('../images/index/sec_bg.jpg'); 
    background-size: cover;
    background-position:right;
    transition: background-size 0.5s zoom-in; 
}


.sec1 .divider1,.sec2 .divider1{
    width: 8%;
    height: 2px;
    background-color: #000;
}

.img_zoom .img_contain,.owl-carousel.second,.owl-carousel.owl-carousel.second2{
    position: relative;
    overflow: hidden;
}

.img_zoom img,.owl-carousel.second img,.owl-carousel.second2 img {
    width: 100%; 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.img_zoom img:hover,.owl-carousel.second img:hover,.owl-carousel.second2 img:hover {
    transform: scale(1.1); 
}
.img_zoom .image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/* -------------------------carousel------------------------------------- */
.owl-carousel.second,.owl-carousel.recommend1{
    position: relative;
  }
 .bg_i2{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px #6d6d6d solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
}
.parent_owl,.parent_owl2,.parent_owl_trend{
    position: relative;
}
.owl-nav,.owl-nav2,.owl-nav1{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 20px;
    color:#fff;
    outline: none !important;
    z-index: 1;
  }
button.owl-prev, button.owl-next{
    outline: none !important;
    border: none !important;
    border-radius:50% ;
}


/* ---------Product main photo css-------------- */
.recommended,.trend_now_head,.trend_now_head1,.trend_now_head2,.featured,.arrivals{
    position: relative;
}
.trend_now_head::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35%;
    height: 1px;
    background: #222222;
}
.trend_now_head::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 35%;
    height: 1px;
    background: #222222;
}
.trend_now_head1::before,.trend_now_head2::before{
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    left: 0;
    width: 35%;
    height: 1px;
    background: #222222;   
}
.trend_now_head1::after,.trend_now_head2::after{
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    right: 0;
    width: 35%;
    height: 1px;
    background: #222222;
}


.product_img_box .product_invisible_part{
    opacity: 0;
  }
  .product_img_box .product_invisible_part{
    opacity: 0;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
  }
  .product_img_box .product_invisible_part:hover{
    opacity: 1;
  }
  .product_img_box .product_invisible_part .quick_add_box{
    background: #fff;
    right: 0;
    left: 0;
    bottom: -50px;
  }
  .product_img_box .product_invisible_part:hover .quick_add_box{
    bottom: 0;
  }
  .product_img_box .product_icons_position{
    opacity: 0;
    z-index: 10;
    right: 0%;
  }
  .product_img_box  .product_heart_icon{
    top: 6%;
  }
  .product_img_box  .product_eye_icon{
    top: 19%;
  }
  
  .product_img_box .product_invisible_part:hover .product_icons_position{
    opacity: 1;
    right: 6%;
  }
  .product_img_box .product_invisible_part:hover .invisible_img{
    transform: scale(1.05);
  }
  .product_img_box .product_icons{
    height: 20px;
    width: 20px;
  }
  
  .product_img_box .product_details .product_description{
    color: rgb(36, 36, 36);
    text-decoration: none;
  
  }
  .product_img_box .product_details .product_description:hover{
    text-decoration: underline;
  }
  .product_img_box .quick_add_btn{
    color: #000;
    border: 1px solid #000;
  }
  
  .product_img_box .quick_add_btn:hover{
    background: #000;
    color: #fff;
  }
  
  .wishlist_btn{
    right: -60%;
    opacity: 0;
    top: 0%;
    z-index: -1;
  }
  .product_img_box  .product_heart_icon:hover .wishlist_btn{
    right: 22%;
    opacity: 1;
  }
  .product_img_box  .product_eye_icon:hover .wishlist_btn{
    right: 22%;
    opacity: 1;
  }
  
  .color_circle{
    height: 35px;
    width: 35px;
  }
  
.color_circle_img_1{
    background: url(../images/shop/layout_01/image9xxl-BLACK_b98fc9bf-a321-4ab2-8709-5285f982509f_775x.jpeg);
    background-size: cover;
    
  }
  .color_circle_img_2{
    background: url(../images/shop/layout_01/image9xxl-LIGHT-RED_a4ce2db8-e01d-4fae-96a4-a727b377d555_775x.jpeg);
    background-size: cover;
  }
  .color_circle_img_3{
    background: url(../images/shop/layout_01/image9xxl-GREY_ff06aeb5-3be3-46eb-b3de-13a37a9c4bca_775x.jpeg);
    background-size: cover;
  }
  .color_circle_img_4{
    background: url(../images/shop/layout_01/image9xxl-MAGENTA_73f6c1dd-2aa6-4e8b-9765-37287380796f_775x.jpeg);
    background-size: cover;
  }
  .color_circle_img_5{
    background: url(../images/shop/layout_01/image9xxl-WHITE_83caf984-431d-4a94-af9b-3ef2bef87acc_775x.jpeg);
    background-size: cover;
  }
  
  .color_circle_prod4_img_1{
    background: url(../images/shop/layout_01/image7xxl_775x.jpeg);
    background-size: cover;
  }
  .color_circle_prod4_img_1{
    background: url(../images/shop/layout_01/image7xxl_775x.jpeg);
  
    background-size: cover;
  }
  .color_circle_prod4_img_2{
    background: url(../images/shop/layout_01/image10xxl_775x.jpeg);
  
    background-size: cover;
  }
  .color_circle_prod4_img_3{
    background: url(../images/shop/layout_01/image11bxxl_0d80db37-389f-4bff-8e69-61f56b525de1_775x.jpeg);
    background-size: cover;
  }
  .bg_sandle{
    background: rgb(255, 255, 142);
  }
  .bg_pink{
    background: rgb(255, 201, 201);
  }

.underline_gap{
    display: inline-block;
}
  .underline_gap span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 40px; /* Adjust this value to control the gap size */
    width: 100%;
    height: 1px;
    background-color: black; /* Change color as needed */
}

@media only screen and (min-width: 1400px) {
    .index_1:hover,.index_2:hover {
        animation: zoom 2.4s ease;
    }
    /* @keyframes zoom {
        from {
            background-size: 98% auto;
        }
        to {
            background-size: 100% auto; 
        }
    }
     */
}
@media only screen and (max-width: 768px) {
   .trend_now_head1::before,.trend_now_head2::before,.trend_now_head1::after,.trend_now_head2::after{
        width: 20%;
    }
    .trend_now_head::after,.trend_now_head::before{
      width: 15%;
    }
}
@media only screen and (max-width: 300px) {
   .trend_now_head1::before,.trend_now_head2::before,.trend_now_head1::after,.trend_now_head2::after{
        width: 15%;
    }
    .trend_now_head::after,.trend_now_head::before{
      width: 8%;
    }
}