.sublist1_banner{
    background-image: url(../images/collections/subcollection1/image-subcollection-1.webp);
    background-repeat: no-repeat;
     max-width: 100%;
     height:auto;
     object-fit: cover;
     object-position: center;
 }
 
 
 .subcollection_l1 .txt_clr{
     color:  #4b4b4b !important;
     font-size: 12px;
 }
 .subcollection_l1 .shop_btn,.sublist1_banner .shop_btn_lg{
     border-radius: 0 !important;
     background-color: #000000;
     color: #fff;
     border:1px  solid #000000!important;
    
 }
 .subcollection_l1 .shop_btn ,.sublist1_banner .shop_btn_lg:hover{
     border-radius: 0 !important;
     color: #000000;
     background-color: #fff;
     border: 1px solid #000000;
 }
 .subcollection_l1 .shop_btn_lg{
     border-radius: 0 !important;
     background-color: #fff;
     color: #000000;
     border:1px  solid #000000!important;
     padding: 7px 98px !important;
    
 }
 .subcollection_l1 .shop_btn_lg:hover{
     border-radius: 0 !important;
     color: #fff;
     background-color: #000000;
     border: 1px solid #000000;
 }
  .section_seperator{
 
    background-color: #000000 !important;
    opacity: 0.1;
 }
 .txt-dec {
     height: 2px !important;
     width: 12% !important;
     background-color: #000000 !important;
 }

 /* --------- item list ------------ */
 .bg_i2{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px #6d6d6d solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
}
.parent_owl2{
    position: relative;
}
.owl-nav2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 20px;
    color:#fff;
    outline: none !important;
    z-index: 1;
  }
button.owl-prev, button.owl-next{
    outline: none !important;
    border: none !important;
    border-radius:50% ;
}
.text_link{
 text-decoration: none !important;
 color: #4b4b4b;
}
.text_link:hover{
    text-decoration: underline !important;
    color: #4b4b4b;
}
/* ------ recomendend for you---------- */

/* .owl-carousel {
    position: relative;
  } */

  .owl-nav1,.owl-nav3,.owl-nav4,.owl-nav5,.owl-nav6,.owl-nav7{
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 24px;
    color:#fff;
    outline: none !important;
    z-index: 9;
  }
  
button.owl-prev, button.owl-next{
    outline: none !important;
    border: none !important;
    border-radius:50% ;
}


  .bg_i2{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px #636363 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 15px;
    padding: 5px 2px !important;
}
.bg_i2:hover{ 
    background-color: #636363 ;
    border: none;
    color: #fff;
}
.parent_owl{
    position: relative;
}


/* ----------FIRST  IMAGE ----------- */
#first_img_section .first_img:hover{
  transform: scale(1.05);
}



/* ----------------Product Access---------------------- */
.layout_btn{
  height: 30px;
  width: 30px;
  opacity: 0.6;
}
.active_layout{
  opacity: 1;
}
.pages_list{
  z-index: 99;
  top: 0%;
  right: 0;
  opacity: 0;
}
.pages_list_on{
  opacity: 1;
  top: 102%;
}
.list_page{
  background: #fff;
}
.list_page:hover{
  background: rgb(231, 231, 231);
}



/* ---------Product main photo css-------------- */




.product_img_box .product_invisible_part{
  opacity: 0;
}
.product_img_box .product_invisible_part{
  opacity: 0;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
}
.product_img_box .product_invisible_part:hover{
  opacity: 1;
}
.product_img_box .product_invisible_part .quick_add_box{
  background: #fff;
  right: 0;
  left: 0;
  bottom: -50px;
}
.product_img_box .product_invisible_part:hover .quick_add_box{
  bottom: 0;
}
.product_img_box .product_icons_position{
  opacity: 0;
  z-index: 10;
  right: 0%;
}
.product_img_box  .product_heart_icon{
  top: 6%;
}
.product_img_box  .product_eye_icon{
  top: 19%;
}

.product_img_box .product_invisible_part:hover .product_icons_position{
  opacity: 1;
  right: 6%;
}
.product_img_box .product_invisible_part:hover .invisible_img{
  transform: scale(1.05);
}
.product_img_box .product_icons{
  height: 20px;
  width: 20px;
}
.product_img_box .product_details .product_description{
  color: rgb(36, 36, 36);
  text-decoration: none;

}
.product_img_box .product_details .product_description:hover{
  text-decoration: underline;
}
.product_img_box .quick_add_btn{
  color: #000;
  border: 1px solid #000;
}

.product_img_box .quick_add_btn:hover{
  background: #000;
  color: #fff;
}

.wishlist_btn{
  right: -60%;
  opacity: 0;
  top: 0%;
  z-index: -1;
}
.product_img_box  .product_heart_icon:hover .wishlist_btn{
  right: 22%;
  opacity: 1;
}
.product_img_box  .product_eye_icon:hover .wishlist_btn{
  right: 22%;
  opacity: 1;
}

.color_circle{
  height: 35px;
  width: 35px;
}

/* -------------------Product main photo css end--------------------------- */

.color_circle_img_1{
  background: url(../images/shop/layout_01/image9xxl-BLACK_b98fc9bf-a321-4ab2-8709-5285f982509f_775x.jpeg);
  background-size: cover;
  
}
.color_circle_img_2{
  background: url(../images/shop/layout_01/image9xxl-LIGHT-RED_a4ce2db8-e01d-4fae-96a4-a727b377d555_775x.jpeg);
  background-size: cover;
}
.color_circle_img_3{
  background: url(../images/shop/layout_01/image9xxl-GREY_ff06aeb5-3be3-46eb-b3de-13a37a9c4bca_775x.jpeg);
  background-size: cover;
}
.color_circle_img_4{
  background: url(../images/shop/layout_01/image9xxl-MAGENTA_73f6c1dd-2aa6-4e8b-9765-37287380796f_775x.jpeg);
  background-size: cover;
}
.color_circle_img_5{
  background: url(../images/shop/layout_01/image9xxl-WHITE_83caf984-431d-4a94-af9b-3ef2bef87acc_775x.jpeg);
  background-size: cover;
}

.color_circle_prod4_img_1{
  background: url(../images/shop/layout_01/image7xxl_775x.jpeg);
  background-size: cover;
}
.color_circle_prod4_img_1{
  background: url(../images/shop/layout_01/image7xxl_775x.jpeg);

  background-size: cover;
}
.color_circle_prod4_img_2{
  background: url(../images/shop/layout_01/image10xxl_775x.jpeg);

  background-size: cover;
}
.color_circle_prod4_img_3{
  background: url(../images/shop/layout_01/image11bxxl_0d80db37-389f-4bff-8e69-61f56b525de1_775x.jpeg);
  background-size: cover;
}
.bg_sandle{
  background: rgb(255, 255, 142);
}
.bg_pink{
  background: rgb(255, 201, 201);
}

/* ---new collections--- */

.long_img1 {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/collections/subcollection1/long1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  z-index: -1;
}

.long_img1:hover .background-image {
  transform: scale(1.2); /* Adjust the scale value as per your preference for zoom-in */
}

.inner_long {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
/* --2 */
.long_img2 {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.background-image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/collections/subcollection1/long3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  z-index: -1;
}

.long_img2:hover .background-image1 {
  transform: scale(1.2); /* Adjust the scale value as per your preference for zoom-in */
}
/* --3 */
.long_img3 {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.background-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/collections/subcollection1/long2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  z-index: -1;
}

.long_img3:hover .background-image2 {
  transform: scale(1.2); /* Adjust the scale value as per your preference for zoom-in */
}

.new_collections .inner_long{
    position: relative;
    top: 60%;
  color: #fff !important;
}
.new_collections .inner_long .decorate:hover{
    text-decoration: underline;
}
.new_collections .inner_long .collection_btn{
    border-radius: 0 !important;
    background: transparent;
    background-color: #fff;
    color:#4b4b4b;
    border: none !important;
    padding: 10px 29px !important;
   
}
/* zoom in effects */
.hover_effect {
  overflow: hidden;
  position: relative;
    transition: transform 0.3s ease-in-out;
}


.hover_effect:hover img{
  transform: scale(1.2); 
}

